@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */
    color: rgba(255, 255, 255, 0.926);
}

::-webkit-scrollbar {
    display: none;
}

.slidein {
    animation-duration: 0.5s;
    animation-name: slideout;
}

@keyframes slideout {
    from {
        margin-left: 100%;
    }

    to {
        margin-left: 0%;
    }
}